* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0 3%;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Songti SC', 'SimSun', serif;
}

header {
    flex: 0 0 10%;
}

main {
    flex: 1;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: #000;
        color: #fff;
    }

    svg {
        fill: #fff;
    }
}

@media (max-width: 420px) {
    /* hide all elements except .tips */
    #app {
        display: none;
    }

    /* show .tips */
    .tips {
        display: block !important;
    }
}
