* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0 3%;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Songti SC', 'SF Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
    flex: 0 0 10%;
}

main {
    flex: 1;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: black;
        color: white;
    }
}

@media (max-width: 420px) {
    /* hide all elements except .tips */
    #app {
        display: none;
    }

    /* show .tips */
    .tips {
        display: block !important;
    }
}
